@import 'bootstrap/dist/css/bootstrap';

.navbar {

  background-color: rgb(146, 204, 144) !important;
  
  }
  
   
  
  .navbar-brand {
  
  font-size: 3rem;
  
  }
  
   
  
  h1 {
  
  color: red;
  
  }